<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Console Program Structure</Title>
      <Author>Student</Author>
      <Description>Creates Program class and Main entry point.</Description>
      <Shortcut>prog</Shortcut>
    </Header>
    <Snippet>
      <Code Language="CSharp">
        <![CDATA[using System;

class Program
{
    static void Main(string[] args)
    {
        $selected$$end$
    }
}]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
